server.port=8080

spring.jpa.hibernate.ddl-auto=create
spring.datasource.url=jdbc:postgresql://localhost:5432/planesales
spring.datasource.username=postgres
spring.datasource.password=root

spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.database=postgresql
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect

flyway.user=postgres
flyway.password=root
flyway.schemas=planesales
flyway.url=jdbc:postgresql://localhost:5432/planesales


travelpayouts.token=<YOUR_TOKEN>
